@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body {
    background-color: #e1eaea;
    font-family: Jost, sans-serif;
}

h1 {
    text-align: center;
}

.titolo{
    margin: 2em;
    padding: 20px;
}

.form{
    border-style: solid;
    padding: 20px;
    margin-top: 10px;
}


.form_button {
    margin-top: 10px;
    padding: 20px;
}

#thumbnail{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
